body{
    font-family: "Helvetica";
}
.container{
    margin: 20px;
    /*border:1px solid #333;*/
    padding:10px;
}
.search, .categoriesMenu{
    display: inline-block;
}
.prod{
    margin-top:40px;
}
.imgs{
    display: inline-block;
    text-align: center;
}